
@if (!string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name))
{
    //ToDo: ActionLink to Profil
    @Html.ActionLink(HttpContext.Current.User.Identity.Name, "Index", "Account")
    <a>@HttpContext.Current.User.Identity.Name</a>
    @Html.ActionLink("Exit", "Exit", "Home", null, new { @style = "color: #51BAA4;" })
}
else
{
    <label id="labelShowLoginDialog" onclick="ShowLoginDialog()">Log in</label>
}