
@{
    ViewBag.Title = "NewIndex";
}

<h2>NewIndex</h2>

<h2>Well date , you made it .You save the world :)</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Check user name Authentication" />
}

