.ProfileUserTable {
    margin-top: 55px;
}

.profileContent {
    /*display: inline-block;
    float: right;
    margin-right: 100px;*/
}



.userBtn {
    width: 1000px;
    margin: 3px auto;
}

.EditImage {
    width: 30px;
}

.tourDialog {
}

.arrayimg {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35);
}

/*#region input=file */
.file-input-wrapper {
    width: 200px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

    .file-input-wrapper > input[type="file"] {
        font-size: 29px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }

    .file-input-wrapper > .btn-file-input {
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        border-radius: 2.5em;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        height: 2.85em;
        line-height: 2.95em;
        min-width: 10em;
        padding: 0 1.5em;
        text-align: center;
        text-decoration: none;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        background-color: #63c1ae;
    }

/*#endregion */

/*#region Picture */
.slideSelectors {
    margin-top: -27px;
    position: relative;
}

    .slideSelectors li {
        cursor: pointer;
        display: inline;
        float: left;
        width: 13px;
        height: 13px;
        background: #aaa;
        margin: 10px 1px 1px 11px;
        filter: alpha(opacity=25);
        border-radius: 10px;
    }
/*.selectedSlide {
     margin: -1px 1px 1px 10px;
    background: #eee;
    width: 18px;
    height: 18px;
}*/


/*#endregion */

/*.contentDescription {
    max-height: 170px;
    overflow: hidden;
}*/

.feature2 {
    display: -moz-flex;
    /* display: -webkit-flex; */
    display: -ms-flex;
    /* display: flex; */
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 6em;
    background-color: #fff;
}

.rightContainer {
    margin-top: 45px;
    margin-bottom: 40px;
}



/*#region Edit profile */

.circle-close-profile {
    width: 4%;
    position: relative;
    top: -13px;
}

/*#endregion */





/*#region Add tour */
.imgsDays {
    /*margin-left: 15px;*/
    margin: 15px 0 15px 0;
}

    .imgsDays > img {
        width: 3.7%;
        cursor: pointer;
    }



.rowTour {
    width: 49%;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*#endregion */

.em_for_editor_tour {
    font-weight: 800;
}

.label_AnyTime {
    display: inline;
}

/*@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 736px) {
}

@media screen and (max-width: 480px) {
}*/

