.UserTable {
    width: 1000px;
    margin: 30px auto;
}

    .UserTable tr th:first-child {
           width: 200px;
    }

.userBtn {
    width: 1000px;
    margin: 3px auto;
}



.EditImage {
    width: 30px;
}
